#banner {
  header {
    padding: 1rem;
    margin-bottom: 180px;
  }

  #hero {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 1rem;
    background-color: var(--blue);

    .presentation {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      h1 {
        text-align: center;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      a {
        padding: 1rem 1rem;
        border-radius: 15px;
        cursor: pointer;
        font-size: 18px;
        font-weight: 600;
        background-color: white;
        color: var(--black);
        text-align: center;

        &:hover {
          background-color: var(--black);
          color: white;
        }
      }
    }

    .links {
      display: flex;
      gap: 2rem;
      justify-content: center;
      padding: 1rem;
    }
  }

  #profile-picture {
    &.mobile {
      display: block;
      width: 200px;
      height: 200px;
      object-fit: cover;
      margin-top: -160px;
      box-shadow: 16.73px 18.58px 20px 0px rgba(85, 22, 34, 0.29);
      border-radius: 50px;
      margin-bottom: 0.5rem;
    }

    &.desktop {
      display: none;
    }
  }
}

/****************** MEDIA ******************/
/***************** QUERIES *****************/

/****************** 525px ******************/
@media (min-width: 525px) {
  #banner {
    header {
      padding: 2rem;
      display: flex;
    }

    #hero {
      padding: 1rem 3rem;
    }
  }
}

/****************** 768px ******************/
@media (min-width: 768px) {
  #banner {
    #hero {
      padding: 1rem 6rem;
    }
  }
}

/****************** 1024px ******************/
@media (min-width: 1024px) {
  #banner {
    height: 100vh;
    display: flex;

    header {
      height: 100vh;
      padding: 2rem;
      flex-grow: 1;
      position: relative;
      background-image: url("../assets/background.svg");
      background-size: cover;
    }

    #profile-picture {
      &.mobile {
        display: none;
      }

      &.desktop {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 350px;
        height: 350px;
        object-fit: cover;
        box-shadow: 16.73px 18.58px 20px 0px rgba(85, 22, 34, 0.29);
        border-radius: 50px;
      }
    }

    #hero {
      height: 100vh;
      width: 50%;
      margin-top: 0;
      padding: 4rem;
      justify-content: center;
      gap: 3rem;

      .presentation {
        align-items: flex-start;

        h1 {
          text-align: left;
        }
      }

      .buttons {
        gap: 2rem;

        a {
          font-size: 20px;
        }
      }
    }
  }
}

/****************** 1400px ******************/
@media (min-width: 1400px) {
  #banner {
    #profile-picture.desktop {
      width: 400px;
      height: 400px;
    }

    #hero {
      padding: 8rem;
    }
  }
}
