.card {
  flex: 1;
  background-color: var(--blue);
  padding: 1rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  img.full {
    width: 100%;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/****************** MEDIA ******************/
/***************** QUERIES *****************/

/****************** 525px ******************/
@media (min-width: 525px) {
}

/****************** 768px ******************/
@media (min-width: 768px) {
  .cards {
    gap: 2rem;
  }
}

/****************** 1024px ******************/
@media (min-width: 1024px) {
  .cards {
    flex-direction: row;
    justify-content: space-between;
  }

  .card.single {
    max-width: 50%;
  }
}

/****************** 1400px ******************/
@media (min-width: 1400px) {
  .cards {
    gap: 3rem;
  }
}
