h1 {
  font-family: "Caudex", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  letter-spacing: -2px;
  line-height: 1.2;
}

h2 {
  font-size: 18px;
  font-weight: 400;
}

h3 {
  font-size: 25px;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  font-weight: 400;
}

h5 {
  font-size: 16px;
  font-weight: 400;
}

p {
  text-align: justify;
  line-height: 20px;
}

ul {
  line-height: 20px;
  list-style: none;

  li {
    margin-left: 1rem;

    &::before {
      content: "✓ ";
    }
  }
}

/****************** MEDIA ******************/
/***************** QUERIES *****************/

/****************** 768px ******************/
@media (min-width: 768px) {
  body {
    font-size: 16px !important;
    line-height: 26px;
  }

  p,
  ul {
    line-height: 26px;
  }
}
/****************** 1024px ******************/
@media (min-width: 1024px) {
  body {
    font-size: 18px !important;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 25px;
  }
}

/****************** 1400px ******************/
@media (min-width: 1400px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 30px;
  }
}
