footer {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-size: cover;
  background-position: center;

  .left {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .contact {
      display: flex;
      flex-direction: column;
      gap: 0.1rem;

      a {
        color: var(--black);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;

    .logos {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: flex-end;
    }
  }
}

/****************** MEDIA ******************/
/***************** QUERIES *****************/

/****************** 525px ******************/
@media (min-width: 525px) {
  footer {
    padding: 1rem 3rem;
  }
}

/****************** 768px ******************/
@media (min-width: 768px) {
  footer {
    padding: 1rem 4rem;
  }
}

/****************** 1024px ******************/
@media (min-width: 1024px) {
  footer {
    padding: 2rem 4rem;

    .left,
    .right {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;

      .logos {
        gap: 2rem;
      }
    }
  }
}

/****************** 1400px ******************/
@media (min-width: 1400px) {
  footer {
    padding: 2rem 6rem;
  }
}
