main {
  display: flex;
  flex-direction: column;
  background-color: var(--beige);
}

section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 4rem 1rem;

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .title {
      display: flex;
      align-items: center;
      gap: 1rem;

      &.space-between {
        justify-content: space-between;
      }

      .date {
        font-size: 14px;
        font-weight: 400;
      }
    }

    img.logo {
      height: 44px;
      object-fit: cover;
    }
  }
}
/****************** MEDIA ******************/
/***************** QUERIES *****************/

/****************** 525px ******************/
@media (min-width: 525px) {
  section {
    padding: 4rem 3rem;
  }
}

/****************** 768px ******************/
@media (min-width: 768px) {
  section {
    padding: 4rem;
  }
}

/****************** 1024px ******************/
@media (min-width: 1024px) {
}

/****************** 1400px ******************/
@media (min-width: 1400px) {
  section {
    padding: 4rem 6rem;
  }
}
