@import "../styles.css";

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-image: url("../assets/background.svg");
  background-size: cover;
  background-position: right;
  color: var(--black);
}

a {
  text-decoration: none;
  color: var(--black);
}

.nav-links a.active {
  text-decoration: none;
  color: var(--beige);
}

/* LOGO */
.logo img {
  cursor: pointer;
  border-radius: 10px;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 16px;
}

.menu li:hover {
  background-color: var(--pink-bg);
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  list-style: none;
  padding: 5px 14px;
}

/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type="checkbox"] {
  display: none;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
  cursor: pointer;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 1024px) {
  .menu {
    display: none;
    position: absolute;
    background-color: var(--pink-bg);
    top: 60px;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: var(--beige);
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }
}
