#school {
  background-color: white;
}

.schools {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: flex-start;

  .essca {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    flex: 1;
  }
}

/****************** MEDIA ******************/
/***************** QUERIES *****************/

/****************** 1024px ******************/
@media (min-width: 1024px) {
  .schools {
    flex-direction: row;
    gap: 2rem;
  }
}

/****************** 1400px ******************/
@media (min-width: 1400px) {
  .schools {
    gap: 3rem;
  }
}
