#skills {
  .skills {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

/****************** 768px ******************/
@media (min-width: 768px) {
  #skills {
    .skills {
      flex-direction: row-reverse;
      gap: 2rem;

      img {
        max-width: 50%;
      }
    }
  }
}

/****************** 1400px ******************/
@media (min-width: 1400px) {
  #skills .skills {
    img {
      max-width: 40%;
    }
  }
}
