#who {
  background-color: white;

  .hobby {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }

  img {
    margin-top: 1rem;
    max-width: 100%;
  }

  .card {
    flex: unset;
  }
}
