@import "styles/components";
@import "styles/pages";

:root {
  --black: #051d40;
  --pink-bg: #fad9d9;
  --beige: #fdf7f0;
  --blue: #d6e8f7;
  --orange: #ef601e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: var(--black);
  background-size: contain;
  background-position: center;
  background-image: url("../assets/background.svg");
}

svg {
  fill: var(--black);
  height: 25px;

  &:hover {
    fill: var(--orange);
  }
}

a {
  text-decoration: none;
}
